{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Workers",
    "description" : "The Workers APIs support the management of workers in an organization. A worker is a person who performs duties and responsibilities for an organization. In that capacity, a worker fills one or more positions via a work assignment. For a given work assignment, a worker is related to the organization as an employee or contractor. The Workers APIs can be used to obtain a list of all workers in an organization and to get information about work assignments.",
    "contact" : {
      "name" : "Wendy Dodds",
      "email" : "Wendy.L.Dodds@adp.com"
    },
    "version" : "0.1"
  },
  "servers" : [ {
    "url" : "http://adpmobile.esi.adp.com"
  } ],
  "paths" : {
    "/hr/v2/workers/" : {
      "get" : {
        "tags" : [ "Workers" ],
        "summary" : "Get All Workers",
        "description" : "Request the list of all available workers that the requester is authorized to view",
        "operationId" : "2aa32939-9059-4187-8785-0eb593ece43b",
        "parameters" : [ {
          "name" : "orgoid",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "8979496589794965"
        }, {
          "name" : "associateoid",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "8979496530114"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns all the available workers that the requester is authorized to view",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "workers" : {
                      "$ref" : "#/components/schemas/workers"
                    }
                  }
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "https://confluence.es.ad.adp.com/download/attachments/825624468/Errors.json"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://adpmobile.esi.adp.com"
        } ]
      },
      "servers" : [ {
        "url" : "http://adpmobile.esi.adp.com"
      } ]
    },
    "/hr/v2/workers/{aoid}" : {
      "get" : {
        "tags" : [ "Workers" ],
        "summary" : "Get A Worker",
        "description" : "Returns a Worker",
        "parameters" : [ {
          "name" : "orgoid",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "8979496589794965"
        }, {
          "name" : "associateoid",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "8979496530114"
        }, {
          "name" : "aoid",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns all the available workers that the requester is authorized to view",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/workers"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "https://confluence.es.ad.adp.com/download/attachments/825624468/Errors.json"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://adpmobile.esi.adp.com"
        } ]
      },
      "servers" : [ {
        "url" : "http://adpmobile.esi.adp.com"
      } ]
    }
  },
  "components" : {
    "schemas" : {
      "codeValueShortName" : {
        "type" : "object",
        "properties" : {
          "codeValue" : {
            "type" : "string",
            "description" : "Department code"
          },
          "shortName" : {
            "type" : "string",
            "description" : "Department name"
          }
        }
      },
      "schemecode" : {
        "type" : "object",
        "properties" : {
          "shortName" : {
            "type" : "string"
          }
        },
        "description" : "Company level Identifier of the employee in RUN"
      },
      "workerID" : {
        "type" : "object",
        "properties" : {
          "idValue" : {
            "type" : "string",
            "description" : "Company level Identifier of the employee in RUN"
          },
          "schemeCode" : {
            "$ref" : "#/components/schemas/schemecode"
          }
        }
      },
      "genderCode" : {
        "type" : "object",
        "properties" : {
          "codeValue" : {
            "type" : "string",
            "description" : "The code for the related entity."
          },
          "shortName" : {
            "type" : "string",
            "description" : "Short description of the related code"
          },
          "longName" : {
            "type" : "string",
            "description" : "Long description of the related code"
          }
        },
        "description" : "The gender of a person, e.g. Male, Female"
      },
      "nameCode" : {
        "type" : "object",
        "properties" : {
          "codeValue" : {
            "type" : "string",
            "description" : "The code for the related entity."
          },
          "shortName" : {
            "type" : "string",
            "description" : "Short description of the related code not to exceed 25 characters"
          }
        },
        "description" : "A coded name or descriptive label of the associated entity. If this is a coded value, codeValue and shortName should be used. If this is just a string value, only shortName is necessary"
      },
      "governmentIDs" : {
        "type" : "object",
        "properties" : {
          "idValue" : {
            "type" : "string",
            "description" : "An actual ID"
          },
          "nameCode" : {
            "$ref" : "#/components/schemas/nameCode"
          },
          "countryCode" : {
            "type" : "string",
            "description" : "Country in which the Address is in. ISO_3166-1-alpha-2 code list",
            "enum" : [ "US" ]
          }
        }
      },
      "legalName" : {
        "type" : "object",
        "properties" : {
          "givenName" : {
            "type" : "string",
            "description" : "The first name of the person"
          },
          "familyName1" : {
            "type" : "string",
            "description" : "Person family name 1"
          },
          "middleName" : {
            "type" : "string",
            "description" : "Person middle name or initial"
          }
        },
        "description" : "The current legal name of the person in the associated context. For example, if the context is set to Germany, this equates to the legal name of the person in Germany."
      },
      "countrySubdivisionLevel1" : {
        "type" : "object",
        "properties" : {
          "codeValue" : {
            "type" : "string",
            "description" : "The code for the related entity."
          },
          "subdivisionType" : {
            "type" : "string",
            "description" : "The type of city sub division, e.g. borough, neighborhood"
          }
        },
        "description" : "A country sub-division correlating to a administrative level one or two levels below country. For example, in the United States, this might be a state or a county"
      },
      "legalAddress" : {
        "type" : "object",
        "properties" : {
          "lineOne" : {
            "type" : "string",
            "description" : "Line One of Street Address Information"
          },
          "lineTwo" : {
            "type" : "string",
            "description" : "Line Two of Street Address Information"
          },
          "cityName" : {
            "type" : "string",
            "description" : "A city in the context of an address"
          },
          "countryCode" : {
            "type" : "string",
            "description" : "The 2 character country code. As per ISO 3166-1 Alpha 2",
            "enum" : [ "US" ]
          },
          "postalCode" : {
            "type" : "string",
            "description" : "The string of characters used to identify the postal code"
          },
          "countrySubdivisionLevel1" : {
            "$ref" : "#/components/schemas/countrySubdivisionLevel1"
          }
        },
        "description" : "This is the primary residential address that is used by an organization for payroll, taxation, and benefit program eligibility"
      },
      "communication" : {
        "type" : "object",
        "properties" : {
          "emails" : {
            "type" : "array",
            "description" : "A list of email addresses",
            "items" : {
              "type" : "object",
              "properties" : {
                "emailUri" : {
                  "type" : "string",
                  "description" : "The URI of the associated email address",
                  "format" : "email"
                },
                "nameCode" : {
                  "type" : "object",
                  "properties" : {
                    "codeValue" : {
                      "type" : "string"
                    }
                  },
                  "description" : "The code for the related entity"
                }
              }
            }
          },
          "landLines" : {
            "type" : "array",
            "description" : "A list of land-line telephone numbers",
            "items" : {
              "type" : "object",
              "properties" : {
                "dialNumber" : {
                  "type" : "string",
                  "description" : "A list of land-line telephone numbers"
                },
                "nameCode" : {
                  "type" : "object",
                  "properties" : {
                    "codeValue" : {
                      "type" : "string",
                      "description" : "The code for the related entity"
                    }
                  }
                }
              }
            }
          },
          "mobiles" : {
            "type" : "array",
            "description" : "A list of mobile telephone numbers",
            "items" : {
              "type" : "object",
              "properties" : {
                "dialNumber" : {
                  "type" : "string",
                  "description" : "The local communication number, not including country dialing or area dialing codes. If component parts of the telephone number are being communicated then the dialNumber is required."
                },
                "nameCode" : {
                  "type" : "object",
                  "properties" : {
                    "codeValue" : {
                      "type" : "string",
                      "description" : "The code for the related entity"
                    }
                  }
                },
                "countryDialing" : {
                  "type" : "string",
                  "description" : "The country dialing code is the national prefix to be used when dialing TO that particular country FROM another country."
                }
              }
            }
          }
        },
        "description" : "A container of communication mechanisms"
      },
      "person" : {
        "type" : "object",
        "properties" : {
          "birthDate" : {
            "type" : "string",
            "description" : "The birth date of the person. Follows the ISO-8601:2000 format",
            "format" : "date"
          },
          "formerNames" : {
            "type" : "object",
            "properties" : {
              "formattedName" : {
                "type" : "string",
                "description" : "A formatted version of the person name"
              }
            },
            "description" : "Former names of the person in the associated context"
          },
          "genderCode" : {
            "$ref" : "#/components/schemas/genderCode"
          },
          "preferredName" : {
            "type" : "object",
            "properties" : {
              "formattedName" : {
                "type" : "string",
                "description" : "A formatted version of the person name"
              }
            },
            "description" : "The preferred name of the person in the associated context. A preferred name is often a variation on the current name that that the person has indicated as preferred. It is the full name by which the person wishes to be known within the context of the organization."
          },
          "governmentIDs" : {
            "type" : "array",
            "description" : "A list of government identifiersA government identifier, e.g. a national identity number or a social insurance number",
            "items" : {
              "$ref" : "#/components/schemas/governmentIDs"
            }
          },
          "legalName" : {
            "$ref" : "#/components/schemas/legalName"
          },
          "legalAddress" : {
            "$ref" : "#/components/schemas/legalAddress"
          },
          "communication" : {
            "$ref" : "#/components/schemas/communication"
          }
        },
        "description" : "An associate is a person with a relationship to an organization"
      },
      "workerDates" : {
        "type" : "object",
        "properties" : {
          "adjustedServiceDate" : {
            "type" : "string",
            "description" : "The string representation of the date value. Follows the ISO-8601:2000 format",
            "format" : "date"
          },
          "originalHireDate" : {
            "type" : "string",
            "description" : "The date the worker is first hired into an organization. Follows the ISO-8601:2000 format",
            "format" : "date"
          },
          "terminationDate" : {
            "type" : "string",
            "description" : "The string representation of the date value. Follows the ISO-8601:2000 format",
            "format" : "date"
          },
          "rehireDate" : {
            "type" : "string",
            "description" : "The string representation of the date value. Follows the ISO-8601:2000 format",
            "format" : "date"
          }
        },
        "description" : "These dates are related to the highest level legal relationship that a person has with the organization. If a given worker has multiple relationships with the organization, these are the dates associated with the primary relationship."
      },
      "statusCode" : {
        "type" : "object",
        "properties" : {
          "codeValue" : {
            "type" : "string",
            "description" : "The code for the related entity."
          },
          "shortName" : {
            "type" : "string",
            "description" : "Short description of the related code"
          }
        },
        "description" : "The status of the work assignment, e.g. active, inactive"
      },
      "workerStatus" : {
        "type" : "object",
        "properties" : {
          "statusCode" : {
            "$ref" : "#/components/schemas/statusCode"
          }
        },
        "description" : "Status to include the status code, effective date (ISO-8601:2000 format) and the reason for change"
      },
      "businessCommunication" : {
        "type" : "object",
        "description" : "A container of communication mechanisms."
      },
      "indicatorFields" : {
        "type" : "array",
        "description" : "A list of custom indicators",
        "items" : {
          "type" : "object",
          "properties" : {
            "indicatorValue" : {
              "type" : "boolean",
              "description" : "Boolean expression"
            },
            "nameCode" : {
              "$ref" : "#/components/schemas/codeValueShortName"
            }
          }
        }
      },
      "customFieldGroup" : {
        "type" : "object",
        "properties" : {
          "codeFields" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "codeValue" : {
                  "type" : "string",
                  "description" : "Optional employee Identifier (used for the time partner integrations)"
                },
                "nameCode" : {
                  "type" : "object",
                  "properties" : {
                    "shortName" : {
                      "type" : "string",
                      "description" : "Type of the identifier"
                    }
                  }
                }
              }
            }
          },
          "indicatorFields" : {
            "$ref" : "#/components/schemas/indicatorFields"
          }
        },
        "description" : "A container of custom fields. The category within each custom object allows for the categorizing or grouping of the associated custom field for the purpose of data mining. For example, the typeCode on a custom string object might be valued as SIZE and the correlating name codes might be t-shirt, pants, jacket, etc."
      },
      "address" : {
        "type" : "object",
        "properties" : {
          "nameCode" : {
            "type" : "object",
            "properties" : {
              "longName" : {
                "type" : "string",
                "description" : "Long description of the related code"
              }
            }
          },
          "lineOne" : {
            "type" : "string",
            "description" : "Line One of Street Address Information"
          },
          "lineTwo" : {
            "type" : "string",
            "description" : "Line Two of Street Address Information"
          },
          "cityName" : {
            "type" : "string",
            "description" : "A city in the context of an address"
          },
          "countryCode" : {
            "type" : "string",
            "description" : "A simple (string) code. Can have a code list reference"
          },
          "postalCode" : {
            "type" : "string",
            "description" : "The string of characters used to identify the postal code"
          },
          "countrySubdivisionLevel1" : {
            "$ref" : "#/components/schemas/countrySubdivisionLevel1"
          }
        },
        "description" : "organization address objects / components"
      },
      "assignedWorkLocations" : {
        "type" : "array",
        "description" : "A list of work locations",
        "items" : {
          "type" : "object",
          "properties" : {
            "address" : {
              "$ref" : "#/components/schemas/address"
            }
          }
        }
      },
      "additionalRemunerations" : {
        "type" : "array",
        "description" : "A list of pay compensations associated to a given work assignment. Additional remuneration includes all other forms of compensation beyond the base pay associated to a given work assignment. The typeCode is used to further refine the type of compensation, e.g. bonus, commission, etc.",
        "items" : {
          "type" : "object",
          "properties" : {
            "rate" : {
              "type" : "object",
              "properties" : {
                "amountValue" : {
                  "type" : "integer",
                  "description" : "TThe numeric value associated to the rate. In the example 5 US dollars per hour, the number 5 is the rate value. In the example 3 bags of rice per month, the number 3 is the rate value. In the example, 20 percent of annual sales, the amountValue would be 20",
                  "format" : "int32"
                },
                "baseUnitCode" : {
                  "type" : "string",
                  "description" : "The code for the related entity. If this is a coded value, codeValue and shortName should be used. If this is just a string value, only shortName is necessary"
                }
              },
              "description" : "Pay rate"
            },
            "nameCode" : {
              "$ref" : "#/components/schemas/codeValueShortName"
            },
            "associatedRateQualifiers" : {
              "type" : "array",
              "description" : "Describes the conditions under which the associated rate can be expected",
              "items" : {
                "type" : "object",
                "properties" : {
                  "qualifierObjectNameCode" : {
                    "$ref" : "#/components/schemas/codeValueShortName"
                  }
                }
              }
            }
          }
        }
      },
      "hourlyRateAmount" : {
        "type" : "object",
        "properties" : {
          "amountValue" : {
            "type" : "integer",
            "description" : "The numeric value associated to the rate. In the example 5 US dollars per hour, the number 5 is the rate value. In the example 3 bags of rice per month, the number 3 is the rate value. In the example, 20 percent of annual sales, the amountValue would be 20",
            "format" : "int32"
          },
          "currencyCode" : {
            "type" : "string",
            "description" : "A simple (string) code. Can have a code list reference"
          },
          "nameCode" : {
            "$ref" : "#/components/schemas/codeValueShortName"
          }
        },
        "description" : "The hourly rate amount"
      },
      "baseRemuneration" : {
        "type" : "object",
        "properties" : {
          "hourlyRateAmount" : {
            "$ref" : "#/components/schemas/hourlyRateAmount"
          },
          "payPeriodRateAmount" : {
            "type" : "object",
            "properties" : {
              "amountValue" : {
                "type" : "integer",
                "description" : "The numeric value associated to the rate. In the example 5 US dollars per hour, the number 5 is the rate value. In the example 3 bags of rice per month, the number 3 is the rate value. In the example, 20 percent of annual sales, the amountValue would be 20",
                "format" : "int32"
              },
              "currencyCode" : {
                "type" : "string",
                "description" : "A simple (string) code. Can have a code list reference",
                "enum" : [ "USD" ]
              },
              "nameCode" : {
                "type" : "object",
                "properties" : {
                  "codeValue" : {
                    "type" : "string",
                    "description" : "RateCode name asscoaited with the rate."
                  },
                  "shortName" : {
                    "type" : "string",
                    "description" : "Short description of the related code"
                  }
                }
              }
            },
            "description" : "The pay period rate amount"
          },
          "annualRateAmount" : {
            "type" : "object",
            "properties" : {
              "amountValue" : {
                "type" : "integer",
                "description" : "The numeric value associated to the rate. In the example 5 US dollars per hour, the number 5 is the rate value. In the example 3 bags of rice per month, the number 3 is the rate value. In the example, 20 percent of annual sales, the amountValue would be 20",
                "format" : "int32"
              },
              "currencyCode" : {
                "type" : "string",
                "description" : "A simple (string) code. Can have a code list reference",
                "enum" : [ "USD" ]
              },
              "nameCode" : {
                "type" : "object",
                "properties" : {
                  "codeValue" : {
                    "type" : "string",
                    "description" : "The code for the related entity"
                  },
                  "shortName" : {
                    "type" : "string",
                    "description" : "Short description of the related code"
                  }
                }
              }
            },
            "description" : "A representation of a rate amount value"
          }
        },
        "description" : "The base or primary pay (i.e. salary, wage) associated to a work assignment. The structure allows for the explicit communication of pre-defined equivalents for the base remuneration"
      },
      "standardPayPeriodHours" : {
        "type" : "object",
        "properties" : {
          "hoursQuantity" : {
            "type" : "integer",
            "description" : "The number of hours",
            "format" : "int32"
          }
        },
        "description" : "The standard number of hours per pay period"
      },
      "workAssignments" : {
        "type" : "array",
        "description" : "An object describing the details of a work assignment. A work assignment pertains to the duties and responsibilities that should be performed by the worker",
        "items" : {
          "type" : "object",
          "properties" : {
            "primaryIndicator" : {
              "type" : "boolean"
            },
            "workerTypeCode" : {
              "$ref" : "#/components/schemas/codeValueShortName"
            },
            "workLevelCode" : {
              "$ref" : "#/components/schemas/codeValueShortName"
            },
            "remunerationBasisCode" : {
              "$ref" : "#/components/schemas/codeValueShortName"
            },
            "payCycleCode" : {
              "$ref" : "#/components/schemas/codeValueShortName"
            },
            "standardPayPeriodHours" : {
              "$ref" : "#/components/schemas/standardPayPeriodHours"
            },
            "baseRemuneration" : {
              "$ref" : "#/components/schemas/baseRemuneration"
            },
            "additionalRemunerations" : {
              "$ref" : "#/components/schemas/additionalRemunerations"
            },
            "assignedWorkLocations" : {
              "$ref" : "#/components/schemas/assignedWorkLocations"
            }
          }
        }
      },
      "workers" : {
        "type" : "array",
        "description" : "A worker is someone who performs duties and has responsibilities for an organization",
        "items" : {
          "type" : "object",
          "properties" : {
            "associateOID" : {
              "type" : "string",
              "description" : "A unique identifier of an associate"
            },
            "workerID" : {
              "$ref" : "#/components/schemas/workerID"
            },
            "person" : {
              "$ref" : "#/components/schemas/person"
            },
            "workerDates" : {
              "$ref" : "#/components/schemas/workerDates"
            },
            "workerStatus" : {
              "$ref" : "#/components/schemas/workerStatus"
            },
            "businessCommunication" : {
              "$ref" : "#/components/schemas/businessCommunication"
            },
            "customFieldGroup" : {
              "$ref" : "#/components/schemas/customFieldGroup"
            },
            "workAssignments" : {
              "$ref" : "#/components/schemas/workAssignments"
            }
          }
        }
      }
    }
  }
}