{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Workers",
    "description" : "The Workers APIs support the management of workers in an organization. A worker is a person who performs duties and responsibilities for an organization. In that capacity, a worker fills one or more positions via a work assignment. For a given work assignment, a worker is related to the organization as an employee or contractor. The Workers APIs can be used to obtain a list of all workers in an organization and to get information about work assignments.",
    "contact" : {
      "name" : "Wendy Dodds",
      "email" : "Wendy.L.Dodds@adp.com"
    },
    "version" : "0.1"
  },
  "servers" : [ {
    "url" : "http://adpmobile.esi.adp.com"
  } ],
  "tags" : [ {
    "name" : "Workers",
    "description" : "List All Workers"
  } ],
  "paths" : {
    "/hr/v2/workers/" : {
      "get" : {
        "tags" : [ "Workers" ],
        "description" : "Request the list of all available workers that the requester is authorized to view",
        "operationId" : "2aa32939-9059-4187-8785-0eb593ece43b",
        "parameters" : [ {
          "name" : "orgoid",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "8979496589794965"
        }, {
          "name" : "associateoid",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "8979496530114"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "examples" : { }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://adpmobile.esi.adp.com"
        } ]
      },
      "servers" : [ {
        "url" : "http://adpmobile.esi.adp.com"
      } ]
    },
    "/hr/v2/workers/897949651" : {
      "get" : {
        "tags" : [ "Workers" ],
        "description" : "Auto generated using Swagger Inspector",
        "parameters" : [ {
          "name" : "orgoid",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "8979496589794965"
        }, {
          "name" : "associateoid",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "8979496530114"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "examples" : { }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://adpmobile.esi.adp.com"
        } ]
      },
      "servers" : [ {
        "url" : "http://adpmobile.esi.adp.com"
      } ]
    }
  },
  "components" : { }
}