{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Workers",
    "description" : "The Workers APIs support the management of workers in an organization. A worker is a person who performs duties and responsibilities for an organization. In that capacity, a worker fills one or more positions via a work assignment. For a given work assignment, a worker is related to the organization as an employee or contractor. The Workers APIs can be used to obtain a list of all workers in an organization and to get information about work assignments.",
    "contact" : {
      "name" : "Wendy Dodds",
      "email" : "Wendy.L.Dodds@adp.com"
    },
    "version" : "0.1"
  },
  "servers" : [ {
    "url" : "http://adpmobile.esi.adp.com"
  } ],
  "paths" : {
    "/hr/v2/workers/" : {
      "get" : {
        "tags" : [ "Workers" ],
        "summary" : "Get All Workers",
        "description" : "Request the list of all available workers that the requester is authorized to view",
        "operationId" : "2aa32939-9059-4187-8785-0eb593ece43b",
        "parameters" : [ {
          "name" : "orgoid",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "8979496589794965"
        }, {
          "name" : "associateoid",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "8979496530114"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns all the available workers that the requester is authorized to view",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/workers"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "https://confluence.es.ad.adp.com/download/attachments/825624468/Errors.json"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://adpmobile.esi.adp.com"
        } ]
      },
      "servers" : [ {
        "url" : "http://adpmobile.esi.adp.com"
      } ]
    },
    "/hr/v2/workers/{aoid}" : {
      "get" : {
        "tags" : [ "Workers" ],
        "summary" : "Get A Worker",
        "description" : "Returns a Worker",
        "parameters" : [ {
          "name" : "orgoid",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "8979496589794965"
        }, {
          "name" : "associateoid",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "8979496530114"
        }, {
          "name" : "aoid",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns all the available workers that the requester is authorized to view",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/workers"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "https://confluence.es.ad.adp.com/download/attachments/825624468/Errors.json"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://adpmobile.esi.adp.com"
        } ]
      },
      "servers" : [ {
        "url" : "http://adpmobile.esi.adp.com"
      } ]
    }
  },
  "components" : {
    "schemas" : {
      "codeValueShortName" : {
        "type" : "object",
        "properties" : {
          "codeValue" : {
            "type" : "string"
          },
          "shortName" : {
            "type" : "string"
          }
        }
      },
      "schemecode" : {
        "type" : "object",
        "properties" : {
          "shortname" : {
            "type" : "string",
            "description" : "Company level Identifier of the employee in RUN"
          }
        }
      },
      "workerID" : {
        "type" : "object",
        "properties" : {
          "idValue" : {
            "type" : "string",
            "description" : "Company level Identifier of the employee in RUN"
          },
          "schemeCode" : {
            "$ref" : "#/components/schemas/schemecode"
          }
        }
      },
      "genderCode" : {
        "type" : "object",
        "properties" : {
          "codeValue" : {
            "type" : "string",
            "description" : "The code for the related entity.",
            "enum" : [ "F -Female", "M -Male" ]
          },
          "shortname" : {
            "type" : "string"
          },
          "longname" : {
            "type" : "string"
          }
        }
      },
      "nameCode" : {
        "type" : "object",
        "properties" : {
          "codeValues" : {
            "type" : "string",
            "description" : "The code for the related entity.",
            "enum" : [ "SSN" ]
          },
          "shortName" : {
            "type" : "string",
            "description" : "Short description of the related code not to exceed 25 characters"
          }
        }
      },
      "governmentIDs" : {
        "type" : "object",
        "properties" : {
          "idValue" : {
            "type" : "string",
            "description" : "An actual ID"
          },
          "nameCode" : {
            "$ref" : "#/components/schemas/nameCode"
          }
        }
      },
      "legalName" : {
        "type" : "object",
        "properties" : {
          "givenName" : {
            "type" : "string",
            "description" : "The first name of the person"
          },
          "familyName1" : {
            "type" : "string",
            "description" : "Person family name 1"
          }
        }
      },
      "countrySubdivisionLevel1" : {
        "type" : "object",
        "properties" : {
          "codeValue" : {
            "type" : "string",
            "description" : "The code for the related entity."
          },
          "subdivisionType" : {
            "type" : "string",
            "description" : "The type of city sub division, e.g. borough, neighborhood"
          }
        }
      },
      "legalAddress" : {
        "type" : "object",
        "properties" : {
          "lineOne" : {
            "type" : "string",
            "description" : "Line One of Street Address Information"
          },
          "lineTwo" : {
            "type" : "string",
            "description" : "Line Two of Street Address Information"
          },
          "cityName" : {
            "type" : "string",
            "description" : "A city in the context of an address"
          },
          "countryCode" : {
            "type" : "string",
            "description" : "The 2 character country code. As per ISO 3166-1 Alpha 2"
          },
          "postalCode" : {
            "type" : "string",
            "description" : "The string of characters used to identify the postal code"
          },
          "countrySubdivisionLevel1" : {
            "$ref" : "#/components/schemas/countrySubdivisionLevel1"
          }
        }
      },
      "communication" : {
        "type" : "object",
        "properties" : {
          "landlines" : {
            "type" : "object",
            "properties" : {
              "dialNumber" : {
                "type" : "string",
                "description" : "The local communication number, not including country dialing or area dialing codes. If component parts of the telephone number are being communicated then"
              }
            }
          },
          "mobiles" : {
            "type" : "string",
            "properties" : {
              "dialNumber" : {
                "type" : "string",
                "description" : "The local communication number, not including country dialing or area dialing codes. If component parts of the telephone number are being communicated then"
              }
            }
          },
          "emails" : {
            "type" : "string",
            "properties" : {
              "emailUri" : {
                "type" : "string",
                "description" : "The local communication number, not including country dialing or area dialing codes. If component parts of the telephone number are being communicated then"
              }
            }
          }
        }
      },
      "person" : {
        "type" : "object",
        "properties" : {
          "birthDate" : {
            "type" : "string",
            "description" : "The birth date of the person. Follows the ISO-8601:2000 format",
            "format" : "date"
          },
          "genderCode" : {
            "$ref" : "#/components/schemas/genderCode"
          },
          "governmentIDs" : {
            "$ref" : "#/components/schemas/governmentIDs"
          },
          "legalName" : {
            "$ref" : "#/components/schemas/legalName"
          },
          "legalAddress" : {
            "$ref" : "#/components/schemas/legalAddress"
          },
          "communication" : {
            "$ref" : "#/components/schemas/communication"
          }
        }
      },
      "workerDates" : {
        "type" : "object",
        "properties" : {
          "adjustedServiceDate" : {
            "type" : "string",
            "description" : "A date related to the length of time a worker works in a given work assignment which usually factors into eligibility for various types of benefits. It is generally adjusted for workers that leave the organization and are later rehired. Follows the ISO-8601:2000 format",
            "format" : "date"
          },
          "originalHireDate" : {
            "type" : "string",
            "description" : "The date the worker is first hired into an organization. Follows the ISO-8601:2000 format",
            "format" : "date"
          }
        }
      },
      "statusCode" : {
        "type" : "object",
        "properties" : {
          "codeValue" : {
            "type" : "string",
            "description" : "The code for the related entity"
          },
          "shortName" : {
            "type" : "string",
            "description" : "Short description of the related code"
          }
        },
        "description" : "The status of the associated  government ID"
      },
      "workerStatus" : {
        "type" : "object",
        "properties" : {
          "statusCode" : {
            "$ref" : "#/components/schemas/statusCode"
          }
        }
      },
      "businessCommunication" : {
        "type" : "object"
      },
      "indicatorFields" : {
        "type" : "object",
        "properties" : {
          "indicatorValue" : {
            "type" : "boolean"
          },
          "nameCode" : {
            "$ref" : "#/components/schemas/codeValueShortName"
          }
        }
      },
      "customFieldGroup" : {
        "type" : "object",
        "properties" : {
          "indicatorFields" : {
            "$ref" : "#/components/schemas/indicatorFields"
          }
        }
      },
      "address" : {
        "type" : "object",
        "properties" : {
          "nameCode" : {
            "type" : "string"
          },
          "lineOne" : {
            "type" : "string"
          },
          "lineTwo" : {
            "type" : "string"
          },
          "cityName" : {
            "type" : "string"
          },
          "countryCode" : {
            "type" : "string",
            "enum" : [ "US" ]
          },
          "postalCode" : {
            "type" : "string"
          },
          "countrySubdivisionLevel1" : {
            "$ref" : "#/components/schemas/countrySubdivisionLevel1"
          }
        }
      },
      "assignedWorkLocations" : {
        "type" : "object",
        "properties" : {
          "address" : {
            "$ref" : "#/components/schemas/address"
          }
        }
      },
      "additionalRemunerations" : {
        "type" : "object"
      },
      "hourlyRateAmount" : {
        "type" : "object",
        "properties" : {
          "amountValue" : {
            "type" : "string"
          },
          "currencyCode" : {
            "type" : "string"
          },
          "nameCode" : {
            "$ref" : "#/components/schemas/codeValueShortName"
          }
        }
      },
      "baseRemuneration" : {
        "type" : "object",
        "properties" : {
          "hourlyRateAmount" : {
            "$ref" : "#/components/schemas/hourlyRateAmount"
          }
        }
      },
      "standardPayPeriodHours" : {
        "type" : "object",
        "properties" : {
          "hoursQuantity" : {
            "type" : "string"
          }
        }
      },
      "workAssignments" : {
        "type" : "object",
        "properties" : {
          "primaryIndicator" : {
            "type" : "boolean"
          },
          "workerTypeCode" : {
            "$ref" : "#/components/schemas/codeValueShortName"
          },
          "workLevelCode" : {
            "$ref" : "#/components/schemas/codeValueShortName"
          },
          "remunerationBasisCode" : {
            "$ref" : "#/components/schemas/codeValueShortName"
          },
          "payCycleCode" : {
            "$ref" : "#/components/schemas/codeValueShortName"
          },
          "standardPayPeriodHours" : {
            "$ref" : "#/components/schemas/standardPayPeriodHours"
          },
          "baseRemuneration" : {
            "$ref" : "#/components/schemas/baseRemuneration"
          },
          "additionalRemunerations" : {
            "$ref" : "#/components/schemas/additionalRemunerations"
          },
          "assignedWorkLocations" : {
            "$ref" : "#/components/schemas/assignedWorkLocations"
          }
        }
      },
      "workers" : {
        "type" : "object",
        "properties" : {
          "associateOID" : {
            "type" : "string",
            "description" : "A unique identifier of an associate"
          },
          "workerID" : {
            "$ref" : "#/components/schemas/workerID"
          },
          "person" : {
            "$ref" : "#/components/schemas/person"
          },
          "workerDates" : {
            "$ref" : "#/components/schemas/workerDates"
          },
          "workerStatus" : {
            "$ref" : "#/components/schemas/workerStatus"
          },
          "businessCommunication" : {
            "$ref" : "#/components/schemas/businessCommunication"
          },
          "customFieldGroup" : {
            "$ref" : "#/components/schemas/customFieldGroup"
          },
          "workAssignments" : {
            "$ref" : "#/components/schemas/workAssignments"
          }
        }
      }
    }
  }
}