{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Workers",
    "description" : "The Workers APIs support the management of workers in an organization. A worker is a person who performs duties and responsibilities for an organization. In that capacity, a worker fills one or more positions via a work assignment. For a given work assignment, a worker is related to the organization as an employee or contractor. The Workers APIs can be used to obtain a list of all workers in an organization and to get information about work assignments.",
    "contact" : {
      "name" : "Wendy Dodds",
      "email" : "Wendy.L.Dodds@adp.com"
    },
    "version" : "0.1"
  },
  "servers" : [ {
    "url" : "http://adpmobile.esi.adp.com"
  } ],
  "paths" : {
    "/hr/v2/workers/" : {
      "get" : {
        "tags" : [ "Workers" ],
        "summary" : "Get All Workers",
        "description" : "Request the list of all available workers that the requester is authorized to view",
        "operationId" : "2aa32939-9059-4187-8785-0eb593ece43b",
        "parameters" : [ {
          "name" : "orgoid",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "8979496589794965"
        }, {
          "name" : "associateoid",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "8979496530114"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns all the available workers that the requester is authorized to view",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "workers" : {
                      "$ref" : "#/components/schemas/workers"
                    }
                  }
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "https://confluence.es.ad.adp.com/download/attachments/825624468/Errors.json"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://adpmobile.esi.adp.com"
        } ]
      },
      "servers" : [ {
        "url" : "http://adpmobile.esi.adp.com"
      } ]
    },
    "/hr/v2/workers/{aoid}" : {
      "get" : {
        "tags" : [ "Workers" ],
        "summary" : "Get A Worker",
        "description" : "Returns a Worker",
        "parameters" : [ {
          "name" : "orgoid",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "8979496589794965"
        }, {
          "name" : "associateoid",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "8979496530114"
        }, {
          "name" : "aoid",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns all the available workers that the requester is authorized to view",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/workers"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "https://confluence.es.ad.adp.com/download/attachments/825624468/Errors.json"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "Content-Type" : {
                "description" : "Content-Type' ': ' type '/' subtype. Describes the media type and subtype of an entity-body.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://adpmobile.esi.adp.com"
        } ]
      },
      "servers" : [ {
        "url" : "http://adpmobile.esi.adp.com"
      } ]
    }
  },
  "components" : {
    "schemas" : {
      "codeValueShortName" : {
        "type" : "object",
        "properties" : {
          "codeValue" : {
            "type" : "string"
          },
          "shortName" : {
            "type" : "string"
          }
        }
      },
      "schemecode" : {
        "type" : "object",
        "properties" : {
          "shortName" : {
            "type" : "string"
          }
        }
      },
      "workerID" : {
        "type" : "object",
        "properties" : {
          "idValue" : {
            "type" : "string"
          },
          "schemeCode" : {
            "$ref" : "#/components/schemas/schemecode"
          }
        }
      },
      "genderCode" : {
        "type" : "object",
        "properties" : {
          "codeValue" : {
            "type" : "string"
          },
          "shortName" : {
            "type" : "string"
          },
          "longName" : {
            "type" : "string"
          }
        }
      },
      "nameCode" : {
        "type" : "object",
        "properties" : {
          "codeValue" : {
            "type" : "string"
          },
          "shortName" : {
            "type" : "string"
          }
        }
      },
      "governmentIDs" : {
        "type" : "object",
        "properties" : {
          "idValue" : {
            "type" : "string"
          },
          "nameCode" : {
            "$ref" : "#/components/schemas/nameCode"
          },
          "countryCode" : {
            "type" : "string",
            "enum" : [ "US" ]
          }
        }
      },
      "legalName" : {
        "type" : "object",
        "properties" : {
          "givenName" : {
            "type" : "string"
          },
          "familyName1" : {
            "type" : "string"
          },
          "middleName" : {
            "type" : "string"
          }
        }
      },
      "countrySubdivisionLevel1" : {
        "type" : "object",
        "properties" : {
          "codeValue" : {
            "type" : "string"
          },
          "subdivisionType" : {
            "type" : "string"
          }
        }
      },
      "legalAddress" : {
        "type" : "object",
        "properties" : {
          "lineOne" : {
            "type" : "string"
          },
          "lineTwo" : {
            "type" : "string"
          },
          "cityName" : {
            "type" : "string"
          },
          "countryCode" : {
            "type" : "string",
            "enum" : [ "US" ]
          },
          "postalCode" : {
            "type" : "string"
          },
          "countrySubdivisionLevel1" : {
            "$ref" : "#/components/schemas/countrySubdivisionLevel1"
          }
        }
      },
      "communication" : {
        "type" : "object",
        "properties" : {
          "emails" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "emailUri" : {
                  "type" : "string",
                  "format" : "email"
                },
                "nameCode" : {
                  "type" : "object",
                  "properties" : {
                    "codeValue" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          },
          "landLines" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "dialNumber" : {
                  "type" : "string"
                },
                "nameCode" : {
                  "type" : "object",
                  "properties" : {
                    "codeValues" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          },
          "mobiles" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "dialNumber" : {
                  "type" : "string"
                },
                "nameCode" : {
                  "type" : "object",
                  "properties" : {
                    "codeValue" : {
                      "type" : "string"
                    }
                  }
                },
                "countryDialing" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "person" : {
        "type" : "object",
        "properties" : {
          "birthDate" : {
            "type" : "string",
            "format" : "date"
          },
          "formerNames" : {
            "type" : "object",
            "properties" : {
              "formattedName" : {
                "type" : "string"
              }
            }
          },
          "genderCode" : {
            "$ref" : "#/components/schemas/genderCode"
          },
          "preferredName" : {
            "type" : "object",
            "properties" : {
              "formattedName" : {
                "type" : "string"
              }
            }
          },
          "governmentIDs" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/governmentIDs"
            }
          },
          "legalName" : {
            "$ref" : "#/components/schemas/legalName"
          },
          "legalAddress" : {
            "$ref" : "#/components/schemas/legalAddress"
          },
          "communication" : {
            "$ref" : "#/components/schemas/communication"
          }
        }
      },
      "workerDates" : {
        "type" : "object",
        "properties" : {
          "adjustedServiceDate" : {
            "type" : "string",
            "format" : "date"
          },
          "originalHireDate" : {
            "type" : "string",
            "format" : "date"
          },
          "terminationDate" : {
            "type" : "string",
            "format" : "date"
          },
          "rehireDate" : {
            "type" : "string",
            "format" : "date"
          }
        }
      },
      "statusCode" : {
        "type" : "object",
        "properties" : {
          "codeValue" : {
            "type" : "string"
          },
          "shortName" : {
            "type" : "string"
          }
        }
      },
      "workerStatus" : {
        "type" : "object",
        "properties" : {
          "statusCode" : {
            "$ref" : "#/components/schemas/statusCode"
          }
        }
      },
      "businessCommunication" : {
        "type" : "object"
      },
      "indicatorFields" : {
        "type" : "array",
        "items" : {
          "type" : "object",
          "properties" : {
            "indicatorValue" : {
              "type" : "boolean"
            },
            "nameCode" : {
              "$ref" : "#/components/schemas/codeValueShortName"
            }
          }
        }
      },
      "customFieldGroup" : {
        "type" : "object",
        "properties" : {
          "codeFields" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "codeValue" : {
                  "type" : "string"
                },
                "nameCode" : {
                  "type" : "object",
                  "properties" : {
                    "shortName" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          },
          "indicatorFields" : {
            "$ref" : "#/components/schemas/indicatorFields"
          }
        }
      },
      "address" : {
        "type" : "object",
        "properties" : {
          "nameCode" : {
            "type" : "object",
            "properties" : {
              "longName" : {
                "type" : "string"
              }
            }
          },
          "lineOne" : {
            "type" : "string"
          },
          "lineTwo" : {
            "type" : "string"
          },
          "cityName" : {
            "type" : "string"
          },
          "countryCode" : {
            "type" : "string"
          },
          "postalCode" : {
            "type" : "string"
          },
          "countrySubdivisionLevel1" : {
            "$ref" : "#/components/schemas/countrySubdivisionLevel1"
          }
        }
      },
      "assignedWorkLocations" : {
        "type" : "array",
        "items" : {
          "type" : "object",
          "properties" : {
            "address" : {
              "$ref" : "#/components/schemas/address"
            }
          }
        }
      },
      "additionalRemunerations" : {
        "type" : "array",
        "items" : {
          "type" : "object",
          "properties" : {
            "rate" : {
              "type" : "object",
              "properties" : {
                "amountValue" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "baseUnitCode" : {
                  "type" : "string"
                }
              }
            },
            "nameCode" : {
              "$ref" : "#/components/schemas/codeValueShortName"
            },
            "associatedRateQualifiers" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "qualifierObjectNameCode" : {
                    "$ref" : "#/components/schemas/codeValueShortName"
                  }
                }
              }
            }
          }
        }
      },
      "hourlyRateAmount" : {
        "type" : "object",
        "properties" : {
          "amountValue" : {
            "type" : "integer",
            "format" : "int32"
          },
          "currencyCode" : {
            "type" : "string"
          },
          "nameCode" : {
            "$ref" : "#/components/schemas/codeValueShortName"
          }
        }
      },
      "baseRemuneration" : {
        "type" : "object",
        "properties" : {
          "hourlyRateAmount" : {
            "$ref" : "#/components/schemas/hourlyRateAmount"
          },
          "payPeriodRateAmount" : {
            "type" : "object",
            "properties" : {
              "amountValue" : {
                "type" : "integer",
                "format" : "int32"
              },
              "currencyCode" : {
                "type" : "string",
                "enum" : [ "USD" ]
              },
              "nameCode" : {
                "type" : "object",
                "properties" : {
                  "codeValue" : {
                    "type" : "string"
                  },
                  "shortName" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "annualRateAmount" : {
            "type" : "object",
            "properties" : {
              "amountValue" : {
                "type" : "integer",
                "format" : "int32"
              },
              "currencyCode" : {
                "type" : "string",
                "enum" : [ "USD" ]
              },
              "nameCode" : {
                "type" : "object",
                "properties" : {
                  "codeValue" : {
                    "type" : "string"
                  },
                  "shortName" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      },
      "standardPayPeriodHours" : {
        "type" : "object",
        "properties" : {
          "hoursQuantity" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "workAssignments" : {
        "type" : "array",
        "items" : {
          "type" : "object",
          "properties" : {
            "primaryIndicator" : {
              "type" : "boolean"
            },
            "workerTypeCode" : {
              "$ref" : "#/components/schemas/codeValueShortName"
            },
            "workLevelCode" : {
              "$ref" : "#/components/schemas/codeValueShortName"
            },
            "remunerationBasisCode" : {
              "$ref" : "#/components/schemas/codeValueShortName"
            },
            "payCycleCode" : {
              "$ref" : "#/components/schemas/codeValueShortName"
            },
            "standardPayPeriodHours" : {
              "$ref" : "#/components/schemas/standardPayPeriodHours"
            },
            "baseRemuneration" : {
              "$ref" : "#/components/schemas/baseRemuneration"
            },
            "additionalRemunerations" : {
              "$ref" : "#/components/schemas/additionalRemunerations"
            },
            "assignedWorkLocations" : {
              "$ref" : "#/components/schemas/assignedWorkLocations"
            }
          }
        }
      },
      "workers" : {
        "type" : "array",
        "items" : {
          "type" : "object",
          "properties" : {
            "associateOID" : {
              "type" : "string"
            },
            "workerID" : {
              "$ref" : "#/components/schemas/workerID"
            },
            "person" : {
              "$ref" : "#/components/schemas/person"
            },
            "workerDates" : {
              "$ref" : "#/components/schemas/workerDates"
            },
            "workerStatus" : {
              "$ref" : "#/components/schemas/workerStatus"
            },
            "businessCommunication" : {
              "$ref" : "#/components/schemas/businessCommunication"
            },
            "customFieldGroup" : {
              "$ref" : "#/components/schemas/customFieldGroup"
            },
            "workAssignments" : {
              "$ref" : "#/components/schemas/workAssignments"
            }
          }
        }
      }
    }
  }
}